#titleImg {
    width: 80%;
    margin: 0 auto;
}

#start {
    height: 60px;
    font-size: large;
}

#resultImg {
    width: 250px;
    margin: 0 auto;
}

.language {
    margin-top: 10px;
}

.language2 {
    display: none;
    margin-top: 10px;
}

.question {
    display: none;
}

.result {
    display: none;
}

.share {
    margin: 0 auto;
}

.Clickmon {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.container {
    overflow-x: hidden;
}


.link-icon { 
    position : relative;
    display: inline;
    width: 50px;
    margin-right: 10px;
    padding-top: 50px;
}

.link-icon.twitter { 
    background-image: url(./images/icon-twitter.png);
    background-repeat: no-repeat; 
}

.link-icon.facebook { 
    background-image: url(./images/icon-facebook.png);
    background-repeat: no-repeat;
} 

.link-icon.kakao { 
    background-image: url(./images/icon-kakao.png);
    background-repeat: no-repeat;
}

article {
    display: flex;
    flex-direction: column;
}