article {
    display: flex;
    flex-direction: column;
}

#titleImg {
    width: 80%;
    margin: 0 auto;
}

#start {
    height: 60px;
    font-size: large;
}

#resultImg {
    width: 300px;
    margin: 0 auto;
}

.question {
    display: none;
}

.result {
    display: none;
}

.share {
    margin: 0 auto;
}