#titleImg {
    width: 80%;
    margin: 0 auto;
}

#start {
    height: 60px;
    font-size: large;
}

#resultImg {
    width: 250px;
    margin: 0 auto;
}

.question {
    display: none;
}

.result {
    display: none;
}

.share {
    margin: 0 auto;
}

.Clickmon {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    display: inline-block;
}

article {
    display: flex;
    flex-direction: column;
}